* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.structure {
    border: 1px dashed red;
    height: 1000px;
    width: 80%;
    margin: 15px auto;
}



.card, .card-2, .card-3, .card-4, .card-5, .card-6 {
    height: 400px;
    object-fit: cover;
}



.container-1 {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 20px;
}



.container-2 {
    float: left;
    margin-left: 60px;
    margin-top: 20px;
}

.container-3 {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.container-4 {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}

.container-5 {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}


.container-6 {
    float: left;
    margin-left: 80px;
    margin-top: 20px;
}


/*card */

/*.card {
    display: block;
}
.card:hover .secondcard{
    display: block;
}*/

.card:hover {
    display: none;
    background-image: url(../img/1b.webp);
}




/* debug */


.debug .container-1 {
    height: 400px;
    width: 270px;
    background-color: brown;
}

.debug .container-2 {
    height: 400px;
    width: 270px;
    background-color: brown; 
}

.debug .container-3 {
    height: 400px;
    width: 270px;
    background-color: brown; 
}

.debug .container-4 {
    height: 400px;
    width: 270px;
    background-color: brown; 
}

.debug .container-5 {
    height: 400px;
    width: 270px;
    background-color: brown; 
}
.debug .container-6 {
    height: 400px;
    width: 270px;
    background-color: brown; 
}